---
layout: default
---

<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "percentPosition": true, "columnWidth": 250, "gutter": 20 }' style="margin-left: 8%;">
{% for video in site.data.videos %}
  <div class="grid-item color{{forloop.index}}">
    <center>
      <style>.color{{forloop.index}}{background-color:{% if video.color %}#{{video.color}}{% else %} #3949AB {% endif %} }</style>
      {% for image in site.data.videos limit:1 %}
        <a href="{{ image }}"><img src="{{ image }}" alt="{{ video.name }}" width="300"></a>
      {% endfor %}
      <div class="container">
        <h4><a href="/videos/{{ video.slug }}/">{{ video.name }}</a></h4>
      </div>
    </center>
  </div>
{% endfor %}
</div>

<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/masonry.pkgd.min.js"></script>
