---
layout: default
---

<style>
.grid
  {
  margin-left: 10%;
  width: 90%;
  border: 1px solid #000;
  }

.griditem
  {
  width: 250px;
  margin: 25px;
  display: inline;
  background-color:#3949AB;
  border: 1px solid #FF0000;
  }
</style>

<div class="grid">
{% for video in site.data.videos %}
  <div class="griditem">
    <center>
      {% for image in video.images limit:1 %}
        <a href="/videos/{{ video.slug }}/"><img src="{{ image }}" alt="{{ video.name }}" width="240"></a>
      {% endfor %}
      <div class="container">
        <h4><a href="/videos/{{ video.slug }}/">{{ video.name }}</a></h4>
      </div>
    </center>
  </div>
{% endfor %}
</div>
