{% for video in site.data.videos %}
  {% if video.slug == page.slug %}
    <div class="page-container">
      <div class="content" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
      <center><iframe width="660" height="415" src="{{ video.youtube_src | replace_first:'https://youtu.be/','https://www.youtube.com/embed/' }}" frameborder="0" allowfullscreen></iframe></center>
      <center>
        <!--<h3 class="page-title">{{ video.name }}</h3>-->
        <p style="padding-bottom: 20px;">{{ video.description }}</p>
      </center>
      </div>
  </div>
  {% endif %}
{% endfor %}

--

{% for item in site.data %}
{{ item }}<br /><hr /><br />
{% endfor %}
