{% assign here = site.data[page.slug][1] %}

here: {{ here.name }}<br /><hr />

{% for item in site.data %}
{% if item[0] == page.slug %}
  {% assign this_item = item[1] %}
  {% assign video = this_item %}

  try: -- {{ video.name }} -- <br />
  --{{ video }}--
  <div class="page-container">
    <div class="content" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
    <center><iframe width="660" height="415" src="{{ video.youtube_src | replace_first:'https://youtu.be/','https://www.youtube.com/embed/' }}" frameborder="0" allowfullscreen></iframe></center>
    <center>
      <!--<h3 class="page-title">{{ video.name }}</h3>-->
      <p style="padding-bottom: 20px;">{{ video.description }}</p>
    </center>
    {% for image in video.images %}

      --{{ image[0] }}--<br />
      {% assign images = image[1] %}
      {% for img in images %}
        <img src="{{ img }}" width="150" />
      {% endfor %}
      <hr />
    {% endfor %}
    </div>
  </div>
{% endif %}
{% endfor %}
